<section id="intro2023">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          OUR 2023 SEASON
        </h2>
<!--        <h5>-->
<!--          august 18-27, 2023-->
<!--        </h5>-->
<!--        <h5>-->
<!--          <a class="fugu-link" href="/schedule">schedule</a>-->
<!--        </h5>-->
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <p class="lowercase">
          the seventh co-incidence will take place august 18-27 at <a href="http://www.heimart.at/index.php/station.html" target="_blank">heim.art®️-Station</a>, in neufelden, austria. the ten days will be filled with various activities oriented toward developing a communal experimental practice: some proposed and planned, some emerging, some intermezzo, some unexpected. these will be framed by "family style" outdoor meals, prepared for and by the group, as well as three casual concerts.
        </p>
        <p class="lowercase">
          Activities are yet-to-be determined, but will include: film screenings, concerts, walking, discussions, listenings, an installation, and cooking food together.
        </p>
        <p class="lowercase">
          as with prior years of the festival, we seek to see what the group becomes, as it begins to understand itself not only as a gathering of individuals, but also as a community in a particular time and place. people arrive with fully or half-formed ideas or impulses which then develop and happen, or not, depending on the feeling and needs of the group. the question we ask is, how might we orient ourselves, communally, toward an outcome or moment which is not expected? and how then might that become an unjustifiable foundation for thinking of the group, and each of us individually, as in processes of overflowing and becoming?
        </p>
        <p class="lowercase">
          the festival is free and open to anyone who would like to attend, in any capacity (observer, participant, passerby, both/all, etc.). if you have any questions about it or would like to chat with us please feel very welcome to email us <a href="mailto:coincidence.festival@gmail.com">coincidence.festival@gmail.com</a>.
        </p>
    </div>
  </div>
</section>
