<section id="intro2022">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          OUR 2022 SEASON
        </h2>
        <h5>
          january 2-8, 2022
        </h5>
        <h5>
          <a class="fugu-link" href="/schedule">schedule</a>
        </h5>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <p class="lowercase">
          Our meeting in January 2022 will carry over the basic question of our 2021 virtual festival; what does it mean to be a we? To locate a space of possibility in which the we, a group, a being together, presents itself without necessary unification as a ‘We’? Or under what conditions might we exist as a proper ‘We’? Can we (already a multiplicity) investigate what it means to be irreducible together, and to be together irreducibly? What would such a thing require? How does music, playing music with others, listening together, interweave with this question?
        </p>
        <p class="lowercase">
          Our framework to explore these questions is the Ancient Greek symposium. This very question (posed as the dialectic between the one and multiple, the I and the we) was implicitly asked at these (when translated literally) ‘drink-gatherings’. To be together was and is an open question, punctuated by unpredictable conversations, musical performances, poetry readings, splitting off and re-forming, food, drink, laughter, and serious questions. The ‘we’ is not intentionally constructed but may-be.
        </p>
        <p class="lowercase">
          The ‘drinking’ in these symposiums concerns more than imbibing liquids - it is the consumption of a shared experience -- perforated by food, drink, ideas, disagreements, music, care -- which grounds us in the material while creating an opening in which the multiple, or the We, might appear. In a sense this has been what the Festival has always been about. These ‘symposium’ experiences need, also, to be balanced, nurtured, and maintained for the duration of the symposium. In sharp contrast to regulation, this is a caring-for the mutable spirit of the event and those within it. To this end symposiums (including ours) have a master of ceremonies (MCs) who are tasked with ‘caring for’ the group.
        </p>
        <p class="lowercase">
          Finally, symposiums have themes which orient them and act as an impulse to gather. These are simply starting points, guiding us without necessity. Each full day of the festival (3rd through the 8th) we will have a new theme, a la Plato’s dialogues (e.g., justice, music, life/death, friendship, love, etc.). Please see the schedule for where and when these take place. Generally, they will happen from noon until dinnertime.
        </p>
        <p class="lowercase">
          We will have three concerts: a Welcome Concert, Co-Incidence Showcase, and a Final Concert. Details on those are below with the schedule. Should people want to join for any of the days, simply <a href="mailto:coincidence.festival@gmail.com?subject=January 2022 Concert">let us know beforehand</a> as we will be limiting the number of people involved (for COVID reasons).
        </p>
        <!--        <p>-->
        <!--          <a href="https://docs.google.com/spreadsheets/d/1czD2BfkALwQyAxwigYQqBS5JvOAP34atTQDj1PaLOk8/edit?usp=sharing"-->
        <!--             target="_blank"-->
        <!--          >-->
        <!--            SCHEDULE-->
        <!--          </a>-->
        <!--          ||-->
        <!--          <a href="2021-season">EVENTS & THEME</a>-->
        <!--        </p>-->
        <!--        <br>-->
        <!--        <hr class="tertiary">-->
      </div>
    </div>
  </div>
</section>
