<section id="intro2023">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          OUR 2023 SEASON
        </h2>
        <h5>
          august 18-27, 2023
        </h5>
<!--        <h5>-->
<!--          <a class="fugu-link" href="/schedule">schedule</a>-->
<!--        </h5>-->
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <p class="lowercase">
          Our meeting in August 2023 at <a href="http://www.heimart.at/index.php/station.html" target="_blank">heim.art®️-Station</a>, in Neufelden, Austria
        </p>
        <p class="lowercase">
          Activities are yet-to-be determined, but will include: film screenings, concerts, walking, discussions, listenings, an installation, and cooking food together.
        </p>
    </div>
  </div>
</section>
